<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <ros2_control name="${name}" type="system">
    <hardware>
        <plugin>socket_can_hardware_interface/SocketCanHardwareInterface</plugin>
        <param name="can_interface">can1</param>
    </hardware>

    <joint name="arm_status">
        <param name="device_type">PIPER</param>
        <param name="can_address">673</param>  <!-- 0x2A1 = 673 decimal -->
    </joint>
    <joint name="joint12_feedback">
        <param name="device_type">PIPER</param>
        <param name="can_address">677</param>  <!-- 0x2A5 = 677 decimal -->
    </joint>
    <joint name="joint34_feedback">
        <param name="device_type">PIPER</param>
        <param name="can_address">678</param>  <!-- 0x2A6 = 678 decimal -->
    </joint>
    <joint name="joint56_feedback">
        <param name="device_type">PIPER</param>
        <param name="can_address">679</param>  <!-- 0x2A7 = 679 decimal -->
    </joint>
    <joint name="arm_disable_enable_config">
        <param name="device_type">PIPER</param>
        <param name="can_address">1137</param>  <!-- 0x471 = 1137 decimal -->
    </joint>
    <!-- <joint name="arm_motion_ctrl1"> -->
        <!-- <param name="device_type">PIPER</param> -->
        <!-- <param name="can_address">336</param>  0x150 = 337 decimal -->
    <!-- </joint> -->
    <!-- MIT mode -->
    <joint name="arm_motion_ctrl2">
        <param name="device_type">PIPER</param>
        <param name="can_address">337</param>  <!-- 0x151 = 337 decimal -->
        <param name="mit_mode">173</param>  <!-- 0x00: Position-speed mode. 0xAD(173): MIT mode. -->
    </joint>
    <joint name="joint1_ctrl">
        <param name="device_type">PIPER</param>
        <param name="can_address">346</param>  <!-- 0x15A = 346 decimal -->
    </joint>
    <joint name="joint2_ctrl">
        <param name="device_type">PIPER</param>
        <param name="can_address">347</param>  <!-- 0x15B = 347 decimal -->
    </joint>
    <joint name="joint3_ctrl">
        <param name="device_type">PIPER</param>
        <param name="can_address">348</param>  <!-- 0x15C = 348 decimal -->
    </joint>
    <joint name="joint4_ctrl">
        <param name="device_type">PIPER</param>
        <param name="can_address">349</param>  <!-- 0x15D = 349 decimal -->
    </joint>
    <joint name="joint5_ctrl">
        <param name="device_type">PIPER</param>
        <param name="can_address">350</param>  <!-- 0x15E = 350 decimal -->
    </joint>
    <joint name="joint6_ctrl">
        <param name="device_type">PIPER</param>
        <param name="can_address">351</param>  <!-- 0x15F = 351 decimal -->
    </joint>

  </ros2_control>
</robot>