<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <ros2_control name="${name}" type="system">
    <hardware>
        <plugin>socket_can_hardware_interface/SocketCanHardwareInterface</plugin>
        <param name="can_interface">${can_interface}</param>
    </hardware>

    <joint name="arm_status">
        <param name="device_type">PIPER</param>
        <param name="can_address">673</param>  <!-- 0x2A1 = 673 decimal -->
        <param name="protocol_plugin">can_data_plugins::PiperArmStatus</param>
        <param name="prefix">${prefix}</param>
    </joint>
    <joint name="joint12_feedback">
        <param name="device_type">PIPER</param>
        <param name="can_address">677</param>  <!-- 0x2A5 = 677 decimal -->
        <param name="protocol_plugin">can_data_plugins::PiperJointFeedback12</param>
        <param name="prefix">${prefix}</param>
    </joint>
    <joint name="joint34_feedback">
        <param name="device_type">PIPER</param>
        <param name="can_address">678</param>  <!-- 0x2A6 = 678 decimal -->
        <param name="protocol_plugin">can_data_plugins::PiperJointFeedback34</param>
        <param name="prefix">${prefix}</param>
    </joint>
    <joint name="joint56_feedback">
        <param name="device_type">PIPER</param>
        <param name="can_address">679</param>  <!-- 0x2A7 = 679 decimal -->
        <param name="protocol_plugin">can_data_plugins::PiperJointFeedback56</param>
        <param name="prefix">${prefix}</param>
    </joint>
    <joint name="arm_disable_enable_config">
        <param name="device_type">PIPER</param>
        <param name="can_address">1137</param>  <!-- 0x471 = 1137 decimal -->
        <param name="protocol_plugin">can_data_plugins::PiperArmDisableEnableConfig</param>
        <param name="prefix">${prefix}</param>
    </joint>
    <!-- <joint name="arm_motion_ctrl1"> -->
        <!-- <param name="device_type">PIPER</param> -->
        <!-- <param name="can_address">336</param>  0x150 = 337 decimal -->
    <!-- </joint> -->
    <!-- Normal mode -->
    <joint name="arm_motion_ctrl2">
        <param name="device_type">PIPER</param>
        <param name="can_address">337</param>  <!-- 0x151 = 337 decimal -->
        <param name="mit_mode">0</param>  <!-- 0x00: Position-speed mode. 0xAD(173): MIT mode. -->
        <param name="protocol_plugin">can_data_plugins::PiperArmMotionCtrl2</param>
        <param name="prefix">${prefix}</param>
    </joint>
    <joint name="joint12_ctrl">
        <param name="device_type">PIPER</param>
        <param name="can_address">341</param>  <!-- 0x155 = 341 decimal -->
        <param name="protocol_plugin">can_data_plugins::PiperJointCtrl12</param>
        <param name="prefix">${prefix}</param>
    </joint>
    <joint name="joint34_ctrl">
        <param name="device_type">PIPER</param>
        <param name="can_address">342</param>  <!-- 0x156 = 342 decimal -->
        <param name="protocol_plugin">can_data_plugins::PiperJointCtrl34</param>
        <param name="prefix">${prefix}</param>
    </joint>
    <joint name="joint56_ctrl">
        <param name="device_type">PIPER</param>
        <param name="can_address">343</param>  <!-- 0x157 = 343 decimal -->
        <param name="protocol_plugin">can_data_plugins::PiperJointCtrl56</param>
        <param name="prefix">${prefix}</param>
    </joint>
  </ros2_control>
</robot>